* {
    padding: 0;
    margin: 0;
}

header {
    border-top: solid 40px #af2024;
}

section {
    background-image: url("../img/back_pizza.jpg");
    height: 818px;
    background-size: cover;
    padding-top: 19px;

}

.logo {
    max-width: 961px;
    margin: auto;
    margin-bottom: 21px;

}


.container {
    max-width: 710px;
    margin: auto;
    position: relative;

}

.content {
    background-color: white;
    padding: 63px 74px 128px;
    position: absolute;
}

.content_border {
    background-color: #98161b;
    padding: 27px 18px 28px;
}

.content_border h3 {
    color: white;
    font-size: 20px;
}

iframe {
    margin-bottom: 29px;
}

h4 {
    font-size: 14px;
    color: #98161b;
    margin-bottom: 18px;
}

h4 span {
    color: #7d7d7d;
}

h4:after {
    display: block;
    content: "";
    border-bottom: dotted #98161b;
    max-width: 43px;
    margin-top: 19px;
}

p {
    font-size: 12px;
    color: #98161b;
    line-height: 18px;

}

footer {
    border-top: solid 33px #3f0002;
    border-bottom: solid 454px black;
}